
.header__bottom {
    background: url(../images/blog/slider_01-mokhgqwtr9u2rwxhakqtevd7311vu1meqdvfikirwo.jpg) #e2e2e2 no-repeat center / cover;
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    padding: 70px calc(50% - 570px);
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;    
        z-index: -3;
        background-color: #000000;
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: all .2s;
        min-height: 100%;
    }
}

.main--blackout{
    &::after {
        opacity: 0.5;
        z-index: 4;
    }
}

.blog {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 750px;
    flex-shrink: 0;
}

.blog-inner {
    overflow: hidden;
    position: relative;
}

.blog__background {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-flow: column wrap;
    height: 1412px;
    margin-right: -28px;
    filter: blur(5px);
}

.blog__list {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    height: 1412px;
    margin-right: -28px;
}

.blog__list__item {
    position: relative;
    background-color: #ffffff;
    margin: 0 28px 28px 0;
    width: 360px;
    overflow: hidden;

    video {
        width: 100%;
    }
}

#blog_item {
    display: none;
}

.blog__list__item-image {
    width: 360px;
    height: 250px;
    position: relative;
    overflow: hidden; 

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        transform: translate(-50%, -50%);
    }

}

.blog__list__item-content {
    display: block;
    padding: 0 38px;
}

.blog__list__item-tag {
    display: inline-block;
    font-size: 13px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    background-color: #000;
    border-radius: 2px;
    margin: 38px 0 8px;
    padding: 0 10px;
}

.blog__list__item-title {
    font-size: 20px;
    color: #333333;
    font-weight: 700;
    line-height: 120%;
    margin: 20px 0;
}

.blog__list__item-user {
    font-size: 12px;
    color: #333333;
    opacity: 0.4;
}

.blog__list__item-description {
    font-size: 12px;
    line-height: 2em;
    color: #000000;
    margin: 36px 0;
    max-height: 68px;
    overflow: hidden;
}

.blog__list__item-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 38px 38px 38px;
}

.blog__list__item-date {
    font-size: 12px;
    color: #000000;
    opacity: 0.5;
}

.blog__list__item-interactive {
    display: flex;
    margin-right: -34px;
    flex-basis: auto;
}

.blog__list__item-btn {
    user-select: none;
    opacity: .2;
    transition: all 50ms;
    background-color: transparent;
    margin-right: 34px;
    width: 22px;
    height: 22px;

    &:hover {
        opacity: .9;
    }
}

.blog__list__item-edit_btn {
    font-size: 20px;
    transform: translateY(-4px);
}

.blog__list__item-btn--active {
    opacity: .9;
}

.blog__list__item-share-btn {
}

.blog__list__item-like-btn {}

.blog__list__item-preview {
    width: 360px;
    height: 330px;
}

.blog__list__item-view {
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;

    .blog__list__item-content {
        padding-top: 38px;
        transition: all .2s ease-in-out;
        height: 275px;
    }

    .blog-content-item {
        color: #ffffff;
        opacity: 0;
    }

    .blog__list__item-btn {
        opacity: 0;
    }

    .blog__list__item-btn path {
        fill: #fff;
    }

    .blog__list__item-tag {
        margin: 0 0 8px;
    }

    &:hover {
        background-color: #000000dc;
        height: 100%;

        .blog-content-item {
            color: #ffffff;
            opacity: 1;
        }

        .blog__list__item-btn {
            opacity: .2;

            &:hover {
                opacity: .9;
            }
        }

        .blog__list__item-btn--active {
            opacity: .9;
        }

    }
}

.blog__load-btn {
    width: 125px;
    height: 30px;
    border-radius: 2px;
    background-color: #959595;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    align-self: center;
}

.blog__list--stretch {
    flex-direction: row;
    align-items: center;
    height: auto;
}

.blog__warning {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 222%;
    text-transform: uppercase;
    color: #000000;
    font-weight: 300;
    text-align: center;
    box-shadow: 0 5px 10px 0 #141414;
    padding: 0 10px;
}

.blog__background--hide {
    display: none;
}

.aside {
    padding-left: 28px;
}

.aside-inner {
    position: relative;
    width: 364px;
    display: flex;
    flex-direction: column;
    margin: 0 auto -27px auto;
}

.aside__item {
    margin-bottom: 27px;
}

.aside__search {
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    padding: 12px;
    align-items: stretch;
}

.aside__search-input {
    height: 100%;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    flex-grow: 1;

    &::placeholder {
        color: #b7b7b7;
    }
}

.aside__search-predicted {
    position: absolute;
    top: calc(12px + 9px);
    left: 0;
    font-size: 16px;
    line-height: 20px;
    color: #b7b7b7;
    font-style: italic;
}

.aside__search--focused {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 60;
}

.aside-inner:has(.aside__search--focused) {
    padding-top: 87px;
}

.search_results__predicted {
    color: #0000006c;
}

.aside__search-btn {
    width: 34px;
    height: 34px;
    background-color: #999;
    fill: #fff;
    border-radius: 2px;
}

.search_results {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 60;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 0 0 #000;
    letter-spacing: 1px; 
    width: 100%;
}

.search_results__item {
    padding: 10px 15px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background-color: #fff;
    width: 100%;

    b {
        background-color: #00000015;
        padding: 0 5px;
    }
}

.search_results__link {

}

.search_results__caption {
    font-weight: 400;
    font-size: 18px;
    line-height: 222%;
}

.search_results__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
}

.aside__caption {
    position: relative;
    background-color: #ebebeb;
    font-size: 18px;
    letter-spacing: 7px;
    line-height: 222%;
    text-transform: uppercase;
    color: #000000;
    font-weight: 300;
    text-align: center;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
        border: 7px solid transparent;
        border-top: 7px solid #ebebeb;
    }
}

.aside__recent__caption {}

.aside__recent__post-list {
    padding: 28px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-height: 441px;
    margin-bottom: -23px;
    overflow: hidden;
}

.aside__recent-item {
    margin-bottom: 23px;
}

.aside__recent-item__link {
    display: flex;
    font-size: 16px;
    line-height: 20px;
    color: #3d3d3d;
    font-weight: 500;
}

.aside__recent-item__image {
    position: relative;
    width: 90px;
    height: 65px;
    margin-right: 17px;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        height: 100%;
    }
}

.aside__recent-item__info {}

.aside__recent-item__title {}

.aside__recent-item__date {
    font-size: 12px;
    color: #a2a2a2;
}

.aside__tags {}

.aside__tags__caption {}

.aside__tags__body {}

.aside__tags__list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px 6px;
    padding: 30px 20px;
    background-color: #ffffff;
}

.aside__tags__list-item {
    display: inline-block;
    padding: 0 18px;
    font-size: 12px;
    line-height: 250%;
    color: #9c9c9c;
    font-weight: 400;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    background-color: transparent;
}

.aside__tags__list-item--active {
    background-color: #000;
    color: #fff;
}

.aside__instagram {
    
}

.aside__instagram__caption {}

.aside__instagram__list {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 5px;
    background-color: #ffffff;
}

.aside__instagram-post {}

.aside__instagram-post__image {
    position: relative;
    width: 100px;
    height: 80px;
    overflow: hidden;

    img {
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.create_post-btn {
    width: 220px;
    line-height: 42px;
    border-radius: 2px;
    background-color: #000000;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin: 25px auto;
}

.aside-burger {
    position: absolute;
    right: 30px;
    top: 23px;
    background-color: #000000;
    padding: 5px;
    border-radius: 2px;
    z-index: 10;
    div {
        background-color: #ffffff;
        width: 25px;
        height: 5px;
    }
}

.aside__mobile {
    position: absolute;
    right: -500px;
    top: 20px;
    z-index: 20;
    background-color: #fafafa;
    padding: 28px;
    transition: all .4s;
    border: 2px solid #000000;
}

.aside__mobile--active {
    right: 30px;
}

.aside__close-btn {
    font-size: 20px;
    width: 30px;
    height: 30px;
    align-self: flex-end;
    margin-bottom: 28px;
}


@media (max-width: 1200px) {
    .aside-burger {
        display: block;
    }

    .blog__list {
        max-width: 780px;
    }
}

@media (max-width: 780px) {
    .blog__list {
        max-width: 370px;
        overflow: hidden;
        margin: 0 auto;
    }

    .blog__warning {
        font-size: 14px;
    }
}

@media (max-width: 490px) {
    .aside__mobile {
        top: 0;
        padding: 0 0 40px 0;
    }
    
    .aside__mobile--active {
        width: 100%;
        right: 0;
    }
}

@media (max-width: 420px) {
    .aside-inner {
        width: 260px;
    }
}

@media (max-width: 380px) {
    .blog__list__item {
        width: 310px;
    }

    .blog__list {
        max-width: 320px;
    }

    .blog__list__item-interactive {
        margin-right: -20px;
    }

    .blog__list__item-btn {
        margin-right: 20px;
    }
}
