.tags_list {
    margin: 0 15px 30px;
    justify-content: center;
}

.tags_list__item {
    height: 30px;
    line-height: 30px;
    width: 120px;
    margin: 5px 0;
    appearance: none;
}

.tags_list__btn {
    width: 30px;
    height: 30px;
}

