
.header__bottom {
    background: url(../images/blog/slider_01-mokhgqwtr9u2rwxhakqtevd7311vu1meqdvfikirwo.jpg) #e2e2e2 no-repeat center / cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    padding: 85px calc(50% - 475px);
}

.post {}

.post-inner {
    padding-bottom: 85px;
}

.post__caption {
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 300;
    text-align: center;
    padding: 0 20px;
}

.post__info {
    display: flex;
    font-size: 16px;
    color: #777777;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    margin: 34px 10px;
    flex-wrap: wrap;
    line-height: 30px;
}

.post__likes {
    display: flex;
    align-items: center;
    
    &::before {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        background: url(../images/potrfolio_details/like.svg) no-repeat center / contain;
    }
}

.post__info__item {
    margin: 0 31px;
}

.post__content>* {
    padding: 0 67px;
}

.post__article {
    margin: 50px 0 0;
}

.begining-img {
    width: 100%;
    height: 480px;
}

.post__content {
    font-size: 14px;
    line-height: 30px;
    color: #777777;

    ul li {
        list-style: disc; 
    }
}


.post__content figure {
    position: relative;
    padding: 0;
    margin: 50px 0;
}

.post__content figure.full_width{
    img {
        width: 100%;
    }
}

.post__content blockquote {
    padding: 12px 0 12px 38px;
    border: 1px solid #e1e1e1;
    border-left: 4px solid #e1e1e1;
    font-size: 18px;
    line-height: 30px;
    color: #777777;
    font-weight: 700;
    font-style: italic;
    font-family: "PT Serif";
    margin: 10px 0 40px;
}

h2 {
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
}

h3 {
    margin: 15px 0;
    color: #000000;
    font-size: 16px;
}

.comment {
    width: 100%;
    align-self: stretch;
}

.comment-inner {
    padding: 0 67px;
    width: 100%;
}

.comment__form {
}

.comment__form-inner {
    display: flex;
    grid-gap: 22px;
    align-items: flex-end;
}

.comment__caption {
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 60px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 22px;
}

.comment__input-container {
    display: flex;
    width: 100%;
}

.comment__user-input {
    border: 1px solid #e1e1e1;
}

.comment__input {
    font-size: 14px;
    line-height: 257%;
    color: #c4c4c4;
    font-weight: 400;
    font-style: italic;
    padding-left: 12px;
    flex-grow: 1;
    width: 100px;

    &:first-child {
        border-left: 4px solid #e1e1e1;
    }
}

.comment__name {}

.comment__email {}

.comment__website {}

.comment__message {
    padding: 15px;
    resize: none;
    height: 52px;
    flex: 1 1 auto;
    overflow: hidden;
}

.comment__message_clone {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    display: none;
    text-wrap: wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 52px;
}

.comment__btn {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 0 5px 1px;
}

.comment_list {
    width: 100%;
    max-width: 800px;
}
.comment_list-inner {
    
}
.comment_list__caption {
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 60px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 22px;
}


.comment_list__list {
    margin-bottom: -10px;
}

.comment_list__item {
    background-color: #ffffff;
    padding: 30px;
    width: 100%;
    align-self: stretch;
    margin-bottom: 10px;
}

.comment_list__info {
    display: flex;
    font-size: 14px;
    color: #777777;
    font-weight: 700;
    flex-wrap: wrap;
    line-height: 20px;
}

.comment_list__user-ava {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 3px 2px #0000004f;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.comment_list__aside-info {
}

.comment_list__user-name {
}
.comment_list__user-date {
}
.comment_list__item__content {
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    margin: 20px 0 10px;
    max-height: 296px;
    overflow: hidden;
}

.comment_list__actions {
    display: flex;
    align-items: center;
}

.comment_list__actions_item {
    margin: 5px 10px 5px 0;
}

.comment_list__btn {
    display: inline-block;
    font-size: 14px;
}

.comment_list__detail-btn {
}

.comment_list__like-btn--active {
    path {
        fill: #000;
    }
}

@media (max-width: 1000px) {
    .quote__content {
        margin-right: 20px;
    }
    .post__image {
        height: 350px;
    }
}

@media (max-width: 600px) {
    .comment__input {
        font-size: 12px;
    }
    .post__caption {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .comment__input-list {
        flex-direction: column;
    }
    .comment__input {
        width: 100%;
        height: 40px;
    }
    .post__article {
        padding: 50px 30px;
    }
    .comment-inner {
        padding: 0 30px;
    }
    .post__image {
        height: 220px;
    }
}

@media (max-width: 400px) {
}