{% extends "form_base.html" %}

{%block links%}
{%endblock%}
{%block title%}Profile{%endblock%}
{%block header_caption%}Create your own blog{% endblock %}
{% block header_description %}With easy tools{% endblock header_description %}
{% block inputs %}
<legend class="caption">Log in</legend>
{{ form.csrf_token() }}
{{ form.email(class_="form_input", style_="max-width: 300px;", placeholder="Email") }}   
{{ form.password(class_="form_input", style_="max-width: 300px;", placeholder="Password") }}   
{{ form.submit(class_="form_submit", style_="max-width: 300px;") }}   
{% endblock inputs%}
{% block scripts %}
{% endblock %}