{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="../static/css/create.css">
{% endblock links %}
{%block title%}Your posts{%endblock%}
{%block header_bottom%}
<div class="header__bottom">
    <div class="container">
        <div class="header__bottom-inner">
            <div class="header__bottom-text">
                <div class="header__bottom-caption">Create your own blog</div>
                <div class="header__bottom-description">With easy tools</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block main %}
<main>
    <section class="post">
        <div class="post-inner">
            <h1 class="post__caption">My Blogs</h1>
            <div class="post__list">
                {%for el in posts%}
                <div class="blog__list__item {{'aside__blog-filter--' + el.tag}} mix">
                    <a href="single_post" class="blog__list__item-content">
                        <div class="blog__list__item-tag blog-content-item">{{el.tag}}</div>
                        <div class="blog__list__item-title blog-content-item">{{el.caption}}</div>
                        <div class="blog__list__item-user blog-content-item">by John Pereina</div>
                        <div class="blog__list__item-description blog-content-item">{{el.text}}</div>
                    </a>
                    <div class="blog__list__item-bottom">
                        <div class="blog__list__item-date blog-content-item">on {{el.date.strftime('%B %d, %Y')}}</div>
                        <div class="blog__list__item-interactive">
                            <button type="button"
                                class="blog__list__item-share-btn blog__list__item-btn blog-content-item">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="14" height="14"
                                    viewBox="0 0 26 26">
                                    <path
                                        d="M 21 0 C 18.238281 0 16 2.238281 16 5 C 16 5.085938 16.027344 5.164063 16.03125 5.25 L 8.1875 9.1875 C 7.320313 8.457031 6.222656 8 5 8 C 2.238281 8 0 10.238281 0 13 C 0 15.761719 2.238281 18 5 18 C 6.222656 18 7.320313 17.542969 8.1875 16.8125 L 16.03125 20.75 C 16.027344 20.835938 16 20.914063 16 21 C 16 23.761719 18.238281 26 21 26 C 23.761719 26 26 23.761719 26 21 C 26 18.238281 23.761719 16 21 16 C 19.777344 16 18.679688 16.457031 17.8125 17.1875 L 9.96875 13.25 C 9.972656 13.164063 10 13.085938 10 13 C 10 12.914063 9.972656 12.835938 9.96875 12.75 L 17.8125 8.8125 C 18.679688 9.542969 19.777344 10 21 10 C 23.761719 10 26 7.761719 26 5 C 26 2.238281 23.761719 0 21 0 Z">
                                    </path>
                                </svg>
                            </button>
                            <button type="button"
                                class="blog__list__item-like-btn blog__list__item-btn blog-content-item">
                                <img width="14" height="14" src="https://img.icons8.com/material-sharp/24/like--v1.png"
                                    alt="like--v1" />
                            </button>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
</main>
{% endblock main %}
{%block scripts%}
{% endblock %}